CalculatorWinClient/Connected Services/CalculatorService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Devide">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numerator" type="xs:int" />
        <xs:element minOccurs="0" name="denominator" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevideResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DevideResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>